<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.coc.file.mapper.FileMapper">

    <!-- 파일 업로드 -->
    <insert id="upload">
        INSERT INTO coc.file
        (
            boardSeq        /* 보드번호 */
        ,   userSeq         /* 유저번호 */
        ,   fileName        /* 파일이름 */
        ,   uploadedName    /* 업로드된 파일이름 */
        ,   createdAt       /* 생성일시 */
        ,   updatedAt       /* 수정일시 */
        ,   delYn           /* 삭제여부 */
        )VALUES(
            #{boardSeq}     /* 보드번호 */
        ,   #{userSeq}      /* 유저번호 */
        ,   #{fileName}     /* 파일이름 */
        ,   #{uploadedName} /* 업로드된 파일이름 */
        ,   SYSDATE()       /* 생성일시 */
        ,   SYSDATE()       /* 수정일시 */
        ,   'N'             /* 삭제여부 */
        )
    </insert>

    <delete id="deleteFiles">
        UPDATE coc.file
        SET
            delYn = 'Y'
        ,   updatedAt = SYSDATE()
        WHERE boardseq = #{seq}
    </delete>

    <!-- 파일리스트 조회(보드번호기준) -->
    <select id="getFiles" resultType="com.project.coc.file.model.SearchFileRequest">
        SELECT
            f.fileName
        ,   f.uploadedName
        FROM coc.file f
        WHERE boardSeq = #{boardSeq}
    </select>
</mapper>