.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  margin-left: $sidebarWidth;
}
@include media-breakpoint-down(lg) {
  .contentArea {
    flex-grow: 1;
    margin-left: 0;
  }
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}

.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}

.popualrArena {
  margin-top: 10px;
  font-size: 30px;
  text-align: center; /* 수평 중앙 정렬을 위한 설정 */

}

.titlePopularArena {
  margin: 20px;
  font-size: 30px;
}

.popualrArena img{
  width: 80%; /* 이미지의 너비를 부모 컨테이너에 맞게 설정 */
  margin-top: 10px;
  height: 100%; /* 높이를 100%로 설정하여 잘림 방지 */
  object-fit: contain; /* contain은 이미지가 부모 요소에 잘리지 않고 맞춰지도록 설정 */
  object-position: center center; /* 이미지를 정중앙에 위치시킴 */
}

.popluarArenaBtn {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 20px;
}

.div-horizon-center {
  justify-content: center;
  align-items: center;
}

.mainContent {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* 필요한 경우 조정 가능 */
}

.contentProfileImg {
  width: 100px;
  height: 100px;
}

.contentDate {
  /* 프로필 이름 */ 
  font-weight: bold;
  margin:0.3rem;
  text-align: right;
}

.right-align-container {
  text-align: right;
}

.contentImg {
  width: 80%; /* 이미지의 너비를 부모 컨테이너에 맞게 설정 */
  margin-top: 10px;
  height: 100%; /* 높이를 100%로 설정하여 잘림 방지 */
  object-fit: contain; /* contain은 이미지가 부모 요소에 잘리지 않고 맞춰지도록 설정 */
  object-position: center center; /* 이미지를 정중앙에 위치시킴 */
}

.scrollUp {
  position: fixed; /* 스크롤 상관없이 아래 */
  bottom: 0.6rem; /* 아래쪽에 배치 */
  left: 50%;
  transform: translateX(-50%);

}