<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.coc.member.mapper.MemberMapper">
    <select id="selectAllMembers"
            resultType="com.project.coc.member.model.MemberResponse">
        SELECT u.seq,
               u.email,
               u.password,
               u.nickName,
               u.delYn,
               u.profileCont,
               u.role
        FROM coc.user u
        WHERE 1=1
            AND u.delYn = 'N';
    </select>

    <select id="selectMember"
            resultType="com.project.coc.member.model.MemberResponse">
        SELECT
            u.seq,
            u.email,
            u.nickName,
            u.profileCont,
            u.role
        FROM coc.user u
        WHERE seq = #{seq};
            AND u.delYn = 'N'
    </select>

    <select id="selectMemberByEmail"
            resultType="com.project.coc.member.model.MemberResponse">
        SELECT
            u.seq,
            u.email,
            u.password,
            u.nickName,
            u.delYn,
            u.profileCont,
            u.role
        FROM coc.user u
        WHERE email = #{email}
        AND u.delYn = 'N'
    </select>

    <select id="loginMember" resultType="com.project.coc.member.model.MemberResponse">
        SELECT
            u.email,
            u.password
        FROM coc.user u
        WHERE email = #{email}
            AND password = #{password}
          AND u.delYn = 'N'
    </select>

    <insert id="regiMember">
        INSERT INTO coc.user
        (
            createdAt,
            email,
            password,
            nickName,
            delYn,
            profileCont,
            role
        )VALUES (
                    SYSDATE(),
                    #{email},
                    #{password},
                    #{nickName},
                    'N',
                    #{profileCont},
                    'user'
                );
    </insert>

    <update id="updateMember">
        UPDATE coc.user
        SET
            updatedAt = SYSDATE(),
            email = #{email},
            password = #{password},
            nickName = #{nickName},
            profileCont = #{profileCont}
    </update>

    <delete id="deleteMember">
        UPDATE coc.user
        SET
            delYn = 'Y',
            updatedAt = SYSDATE()
        WHERE seq = #{seq}
    </delete>
</mapper>